<header>
  <p>NSFW-filter</p>  
</header>
<body>
  <div class="row">
    <div class="col-sm-5" style="background-color:powderblue;">
      <p>Raw image:</p>
      <app-photo-preview [imgUrl]="currentPath"></app-photo-preview>
      <input #file type="file" accept='image/*' (change)="onFileChanged($event)" #fileInput style="padding-right: 4px;"/>
    </div>   
    <div class="col-sm-2" style="background-color:white;">
      <button (click)="onUpload()" style="height: 20px; width: 100%; font-size: x-small; position: relative; top: 50%;">--Blure face--></button>
    </div> 
    <div class="col-sm-5" style="background-color:blue;">
      <p>Result:</p>
      <app-photo-preview [imgUrl]="resultPath"></app-photo-preview>
    </div>  
  </div> 
</body>