<div>
    <div class="row h-50">
        <div class=" col sm-2"></div>
        <div class="col sm-4" style="background-color: #4cbbb9;">
            <div class="d-flex align-items-center justify-content-center" style="min-height: 350px;">
                <img src="../assets/img/blurimg.jpg" height="300px" width="100%" style="object-fit: scale-down;">            
              </div> 
        </div>
        <div class="col sm-4" style="background-color: #4cbbb9;">
            <div class="d-flex align-items-center justify-content-center" style="min-height: 350px;">
                <div class="item-title">
                    <a target="_self" class="item-link " href="/blur" style="font-size: xx-large;">Face bluring<span class="item-link-text">→</span></a>
                </div>
            </div> 
        </div>
        <div class=" col sm-2"></div>
    </div>
    <div class="row h-50">
        <div class=" col sm-2"></div>
        <div class="col sm-4" style="background-color: #77d8d8;">
            <div class="d-flex align-items-center justify-content-center" style="min-height: 350px;">
                <div class="item-title">
                    <a target="_self" class="item-link " href="/nsfw" style="font-size: xx-large;">NSFW-filter<span class="item-link-text">→</span></a>
                </div>
            </div> 
        </div>
        <div class="col sm-4" style="background-color: #77d8d8;">
            <div class="d-flex align-items-center justify-content-center" style="min-height: 350px;">
                <img src="../assets/img/nsfwimg.jpg" height="300px" width="100%" style="object-fit: scale-down;">            
              </div> 
        </div>
        <div class=" col sm-2"></div>
    </div>
</div>
